* {
  box-sizing: border-box;
}
input,
textarea {
  display: block;
  margin-bottom: 1rem;
}
form {
  margin: 3rem;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  margin-bottom: 2rem;
}
.link-btn {
  background-color: sandybrown;
  padding: 0.5rem 1rem;
}
.link-btn:hover {
  background-color: salmon;
}
.margin-bottom {
  margin-bottom: 1rem;
}
.margin-top {
  margin-top: 2rem;
}
.feedback-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 1rem;
}
.feedback-box:hover {
  background-color: bisque;
}
.delete-account {
  background-color: red;
  color: white;
}
