input,
textarea {
  display: block;
  margin-bottom: 1rem;
}
form {
  margin: 3rem;
}
a {
  text-decoration: none;
}
nav {
  margin-bottom: 2rem;
}
.link-btn {
  background-color: bisque;
  padding: 1rem 2rem;
}
