{% extends 'base.html' %} {% block title %}User Info{% endblock %}
<!-- main clock content starts here -->
{% block content %}
<div>name: {{user.username}}</div>
<div>email: {{user.email}}</div>
<div class="margin-bottom">name: {{user.first_name}} {{user.last_name}}</div>
<a class="link-btn" href="/users/{{user.username}}/feedback/add"
  >add feedback</a
>
<a class="link-btn delete-account" href="/users/{{user.username}}/delete"
  >DELETE account</a
>
<h2 class="margin-top">Your Feedbacks:</h2>
{% for feedback in feedbacks %}
<div id="user-feedbacks" class="feedback-box">
  <h3>{{feedback.title}}</h3>
  <p>{{feedback.content}}</p>
  <p>by {{feedback.username}}</p>
  <a class="link-btn" href="">edit</a>
  <a class="link-btn" href="">delete</a>
</div>
{% endfor %} {% endblock %}
